<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      ESCÁPATE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-rosa">
  <ion-header collapse="condense">
    <ion-title class="titulo">
      TRAVELME
    </ion-title>
  </ion-header>

  <h1 style="text-align: center;">INICIO</h1>
  <P style="text-align: center;">Bienvenidos a nuestra sección de noticias, donde cubrimos los eventos más relevantes de tres potencias asiáticas: <br>China, Japón y Corea del Sur. <br>En esta página, ofrecemos un análisis completo de la política, economía, cultura y avances tecnológicos de estos países, cada uno con su influencia global única. Mantente informado sobre las últimas noticias y tendencias de China, Japón y Corea del Sur, regiones que lideran el futuro en innovación y desarrollo.</P>


  <img alt="logo" src="https://www.zarla.com/images/zarla-escpate-1x1-2400x2400-20240319-mqbyj8pc8kdcbvpgbmb4.png?crop=1:1,smart&width=250&dpr=2" style="margin-left: 37%;" />
  

  <ion-grid>
    <ion-row>
      <ion-col>


        <ion-card>
          <img alt="China" src="https://th.bing.com/th/id/R.d9021926317140f4be69f2bdae804dd1?rik=n%2b7rTdCOcXdOxg&pid=ImgRaw&r=0" />
          <ion-card-header>
              <ion-card-title>Viaje a China</ion-card-title>
              <ion-card-subtitle>Descubre la majestuosidad de uno de los monumentos más emblemáticos del mundo</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Explora la historia y la grandeza de la Muralla China, un símbolo de la antigua civilización china. Este icónico monumento, que se extiende a lo largo de miles de kilómetros, ofrece vistas impresionantes y una experiencia única que conecta el pasado con el presente de China.
          </ion-card-content>


        </ion-card>


      </ion-col>
      <ion-col>

        <ion-card>
          <img alt="Japon" src="https://th.bing.com/th/id/OIP.oZNjuh2JIBuzRjw5Wy_ljwHaE8?rs=1&pid=ImgDetMain" />
          <ion-card-header>
              <ion-card-title>Descubre la fascinante mezcla de cultura ancestral y tecnología avanzada en Japón.</ion-card-title>
              <ion-card-subtitle>Descubre la majestuosidad de uno de los monumentos más emblemáticos del mundo</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Viaja a Japón y sumérgete en un país donde el pasado y el futuro coexisten. Desde templos y jardines zen hasta la vibrante vida urbana de Tokio, Japón ofrece una experiencia única llena de tradición, innovación y belleza natural. Este icónico monumento, que se extiende a lo largo de miles de kilómetros, ofrece vistas impresionantes y una experiencia única que conecta el pasado con el presente de China.
          </ion-card-content>


        </ion-card>

      </ion-col>
      <ion-col>

        <ion-card>
          <img alt="Corea del sur" src="https://images.lonelyplanetitalia.it/uploads/seoul-statua?q=80&p=slider&s=fdeae2111ce930056b7a99c587429567" />
          <ion-card-header>
              <ion-card-title>Viaje a Corea del Sur: Un Recorrido por la Historia y la Innovación</ion-card-title>
              <ion-card-subtitle>Vive la emoción de la cultura y la tecnología en el corazón de Asia.</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Explora Corea del Sur, donde la tradición milenaria se fusiona con el dinamismo de una sociedad moderna. Desde los palacios históricos de Seúl hasta las avanzadas ciudades tecnológicas, este viaje te llevará a través de una tierra rica en historia y vanguardia.
          </ion-card-content>


        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
