<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      ESCÁPATE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


  
  <h1 style="text-align: center;">NOTICIAS</h1>

  <img alt="logo" src="https://www.zarla.com/images/zarla-escpate-1x1-2400x2400-20240319-mqbyj8pc8kdcbvpgbmb4.png?crop=1:1,smart&width=250&dpr=2" style="margin-left: 37%;" />
  
  <h2 style="text-align: center;">Categoría países asiáticos</h2>


  <ion-grid>
    <ion-row>
     
      <ion-col>


        <ion-card>
          <img alt="Juan" src="https://imgs.search.brave.com/P8u2BrJQSFj-nuRWTy3Hfg3p-09OpTTvkQlpuWM-fPM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jb25j/ZXB0by5kZS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAxOC8wOC9w/ZXJzb25hLWUxNTMz/NzU5MjA0NTUyLmpw/Zw" />
          <ion-card-header>
            <ion-card-title>Juan</ion-card-title>
            <ion-card-subtitle>25/11/2024</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Juan, el Aventurero: Un viajero incansable con una pasión por explorar los rincones más remotos del mundo. Siempre en busca de nuevas experiencias, Juan ha recorrido montañas, selvas y desiertos, enfrentándose a desafíos que lo han transformado en un verdadero aventurero. Su espíritu curioso lo lleva a descubrir culturas, tradiciones y paisajes únicos, mientras comparte sus historias con otros viajeros que buscan la misma emoción.
          </ion-card-content>
        </ion-card>


      </ion-col>
      <ion-col>

        <ion-card>
          <img alt="Pepe" src="https://th.bing.com/th/id/OIP.sZhJzvWnatEY4wbYcsC8zAHaE8?rs=1&pid=ImgDetMain" />
          <ion-card-header>
            <ion-card-title>Pepe</ion-card-title>
            <ion-card-subtitle>25/11/2024</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            **Pepe, el Nómada**: "Viajero incansable, su vida es un recorrido continuo hacia nuevas culturas, experiencias y conexiones, buscando siempre lo desconocido con un espíritu libre."
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col>

        <ion-card>
          <img alt="José" src="https://uploads-ssl.webflow.com/5f2452ec7325dd602b570d24/5f37199ddb92ee3c99b5aa5d_TmQsz7Cw.jpeg" />
          <ion-card-header>
            <ion-card-title>José</ion-card-title>
            <ion-card-subtitle>25/11/2024</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            **José, el Explorador**: Un amante de la naturaleza y las grandes aventuras. José ha recorrido desde los picos más altos hasta las profundidades de las selvas tropicales, buscando siempre nuevas formas de conectar con el entorno. Su curiosidad lo lleva a interactuar con culturas diversas y a vivir experiencias extremas que desafían sus límites, mientras busca transmitir su pasión por la aventura a quienes se cruzan en su camino.
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- ----------------------------- -->
  <ion-grid>
    <ion-row>
      <ion-col>


        <ion-card>
          <img alt="China" src="https://img.static-kl.com/images/media/E5F5918C-9435-4CE6-9775780B48F3C39D?w=960" />
          <ion-card-header>
              <ion-card-title>Viaje a China: Aventura en la Muralla China</ion-card-title>
              <ion-card-subtitle>Descubre la majestuosidad de uno de los monumentos más emblemáticos del mundo</ion-card-subtitle>
              <ion-card-subtitle>25/11/2024</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Explora la historia y la grandeza de la Muralla China, un símbolo de la antigua civilización china. Este icónico monumento, que se extiende a lo largo de miles de kilómetros, ofrece vistas impresionantes y una experiencia única que conecta el pasado con el presente de China.
          </ion-card-content>


        </ion-card>


      </ion-col>
      <ion-col>

        <ion-card>
          <img alt="Japon" src="https://dam.ngenespanol.com/wp-content/uploads/2021/04/GettyImages-1208124099.jpg" />
          <ion-card-header>
              <ion-card-title>Descubre la fascinante mezcla de cultura ancestral y tecnología avanzada en Japón.</ion-card-title>
              <ion-card-subtitle>Descubre la majestuosidad de uno de los monumentos más emblemáticos del mundo</ion-card-subtitle>
              <ion-card-subtitle>25/11/2024</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Viaja a Japón y sumérgete en un país donde el pasado y el futuro coexisten. Desde templos y jardines zen hasta la vibrante vida urbana de Tokio, Japón ofrece una experiencia única llena de tradición, innovación y belleza natural. Este icónico monumento, que se extiende a lo largo de miles de kilómetros, ofrece vistas impresionantes y una experiencia única que conecta el pasado con el presente de China.
          </ion-card-content>


        </ion-card>

      </ion-col>
      <ion-col>

        <ion-card>
          <img alt="Corea del sur" src="https://www.bharad.es/wp-content/uploads/2019/05/Corea-del-Sur-Paisajes.jpg" />
          <ion-card-header>
              <ion-card-title>Viaje a Corea del Sur: Un Recorrido por la Historia y la Innovación</ion-card-title>
              <ion-card-subtitle>Vive la emoción de la cultura y la tecnología en el corazón de Asia.</ion-card-subtitle>
              <ion-card-subtitle>25/11/2024</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Explora Corea del Sur, donde la tradición milenaria se fusiona con el dinamismo de una sociedad moderna. Desde los palacios históricos de Seúl hasta las avanzadas ciudades tecnológicas, este viaje te llevará a través de una tierra rica en historia y vanguardia.
          </ion-card-content>


        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
